@model IEnumerable<DanhMucModel>
@foreach (var item in Model)
{
    <li class="list-menu"><a asp-action="Index" asp-controller="DanhMuc" asp-route-Slug="@item.SlugDanhMuc" style="text-decoration:none; ">@item.TenDanhMuc</a></li>
}