@model IEnumerable<MonAnModel>
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Danh Sách danh mục</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="QuanTri">Trang quản trị</a></li>
            <li class="breadcrumb-item active">Tables</li>
        </ol>

        <div class="card mb-4">

            <div class="card-body">
                <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                    <div class="card">
                        <h3><a asp-action="Create" asp-controller="MonAn" class="btn btn-primary">Thêm mới món ăn</a></h3>
                    </div>

                    <div class="datatable-container">
                        <table id="myTable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center" data-sortable="true">
                                        #
                                    <th class="text-center" data-sortable="true">
                                        Tên món ăn
                                    </th>
                                    <th class="text-center" data-sortable="true">
                                      Hình ảnh
                                   
                                    <th class="text-center"  data-sortable="true">Tên Danh mục</th>
                                    <th class="text-center" data-sortable="true">Trạng Thái</th>
                                    <th class="text-center" data-sortable="true">Manager</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr data-index="0">
                                        <td class="text-center align-middle">@item.MaMonAn</td>
                                        <td class="text-center align-middle">@item.TenMonAn</td>
                                        <td class="text-center align-middle"><img src="~/image/monan/@item.HinhAnh" style="height:100px;" /></td>
                                        <td class="text-center align-middle">@item.DanhMuc.TenDanhMuc</td>
                                       

                                        @if (item.TrangThai == 1)
                                        {
                                            <td class="text-center align-middle">
                                                <button class="btn btn-primary">Hiển thị</button>
                                            </td class="text-center">
                                        }
                                        else
                                        {
                                            <td class="text-center align-middle">
                                                <button class="btn btn-warning"> Không Hiển thị</button>
                                            </td>
                                        }

                                        <td class="text-center align-middle">
                                            <a class="btn btn-warning " asp-action="ChiTiet" asp-controller="MonAn" asp-route-Id="@item.MaMonAn">Xem chi tiết</a>
                                            <button class="btn btn-warning ">Edit</button>
                                            <button class="btn btn-danger">Delete</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
<
