@model IEnumerable<DanhMucModel>
@foreach (var item in Model)
{
    <li class="menu-item-2"><a asp-action="Index" asp-controller="DanhMuc" asp-route-Slug="@item.SlugDanhMuc">@item.TenDanhMuc</a></li>
}
