* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(backgr-forgot.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#box {
    background-color: rgb(240, 241, 241);
    width: 400px;
    border: 2px solid;
    border-radius: 30px;
    padding: 20px;
    height: auto;
    position: relative;
    top: 50%;
    left: 40%;
    /*transform: translate(-50%, -50%);*/
}

.box-menu {
    text-align: center;
}

img {
    border: 2px solid #ddd;
    border-radius: 50px;
    width: 150px;
    padding: 20px;
}

.tieude {
    margin-top: 25px;
    line-height: 40px;
}

    .tieude h2 {
        color: darkturquoise;
    }

    .tieude p {
        font-style: italic;
        font-size: 15;
    }

.thongtin {
    margin-top: 15px;
    color: darkturquoise
}

    .thongtin input {
        padding: 8px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }

.btn-xacnhan {
    margin-top: 15px;
    border-radius: 30px;
    background-color: rgb(74, 147, 255);
    color: white;
    padding: 25px;
    width: 300px;
}
